@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="get" action="~/Name.cshtml">
        <fieldset>
            <legend>Default:</legend>
            Name: <input type="text" name="name"></br>
            <input type="submit" name="send" value="Send">
        </fieldset>
    </form>
</body>
</html>
