@{
    var rules = (List<string>)Session["Rules"];
    if (rules == null)
    {
        rules = new List<string>();
    }
    if (IsPost)
    {
        rules.Add(Request.Form["rule"]);
        Session["Rules"] = rules;
    }
    Response.Redirect("Rules_GET.cshtml");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
redirecting...
</body>
</html>
