<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" action="~/Rules_REDIRECT.cshtml">
        <fieldset>
            <legend>Rules:</legend>
            Rule: <input type="text" name="rule"></br>
            <input type="submit" name="send" value="Send">
        </fieldset>
    </form>
    <a href="~/Rules_GET.cshtml">List of rules</a>
</body>
</html>
